[flake8]
max-line-length = 100
# 暂时注释复杂度检查，后续优化代码后再启用
# max-complexity = 10
max-doc-length = 300
# 添加更多忽略规则
ignore = E203,W503,F401,F541,D400,E226,F821,F841,C901
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,.env,.venv,venv
per-file-ignores =
    # imported but unused in __init__ files
    __init__.py: F401
